# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules

# Build
dist
dist-admin

# Env
.env
.env.local

# E2E
e2e/.auth/
e2e-report/
test-results/
playwright-report/

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
